<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>video timeline with question timestamps</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <br />
    <div class="process-wrapper">
      <div id="progress-bar-container">
        <ul>
          <li class="step step01 active">
            <div class="step-inner">Q1</div>
          </li>
          <li class="step step02">
            <div class="step-inner">Q2</div>
          </li>
          <li class="step step03">
            <div class="step-inner">Q3</div>
          </li>
          <li class="step step04">
            <div class="step-inner">Q4</div>
          </li>
          <li class="step step05">
            <div class="step-inner">Q5</div>
          </li>
        </ul>
        <div id="line">
          <div id="line-process"></div>
        </div>
      </div>
    </div>
  </body>
</html>
