* {
    box-sizing: border-box;
}

.text {
    font-family: Asap;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 73px;
}

.pseudo-black {
    color: #373737;
}

.page-wrapper {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: minmax(0, 4fr) minmax(0, 32fr) minmax(0, 14fr);
    box-sizing: content-box;
}

.header {
    width: 100%;
    height: auto;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.logo {
    font-family: Asap;
    font-style: normal;
    font-weight: 600;
    font-size: 4em;
    line-height: 8vh;
    color: #373737;
    height: 100%;
    width: 100%;
    padding-left: 15px;
}

.video {
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.sidebar {
    max-height: 100%;
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 10fr) minmax(0, 1fr);
}

.footer {
    width: auto;
    height: 100%;
    grid-column: 1 / -1
}

.bubble-nav-button-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15 px;
}

button.bubble-nav-button {
    flex: none;
    order: 3;
    align-self: center;
    margin: 15px;
    position: relative;
    width: 120px;
    height: 50px;
    left: 0px;
    top: 0px;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 29px;
    font-family: Asap;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3em;
    line-height: 50px;
    text-align: center;
    color: #000000;
}

button.bubble-nav-button:hover {
    border: 5px solid #000000
}

.bubble-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    padding: 30px;
}

.bubble-submit {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.bubble-wrapper {
    flex: none;
    order: 3;
    margin: 10px;
}

.bubble-body-wrapper {
    width: 500px;
    height: auto;
    min-height: 120px;
    position: relative;
    background: #FFFFFF;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 47px;
    border-bottom-left-radius: 0px;
    margin-bottom: -3px;
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-template-rows: 1fr;
}

.self .bubble-body-wrapper {
    width: 500px;
    height: auto;
    min-height: 120px;
    position: relative;
    background: #CFFEE8;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 47px;
    border-bottom-left-radius: 47px;
    border-bottom-right-radius: 0px;
    margin-bottom: -3px;
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-template-rows: 1fr;
    float: right;
}

.bubble-body-text {
    grid-column: 2 / 2;
    width: 100%;
    height: 100%;
    padding: 15px;
    font-family: Asap;
    font-style: normal;
}

.bubble-body-title {
    font-size: 1.1em;
    line-height: 14px;
    padding-top: 5px;
}

.bubble-body-question {
    font-weight: 600;
    font-size: 1.5em;
    line-height: 32px;
    padding: 15px 0px;
    padding-right: 10px;
    word-break: break-all;
}

.bubble-info-wrapper {
    position: relative;
    width: 311px;
    height: 53px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 26px;
    border-top-left-radius: 0px;
    margin-top: -3px;
    display: flex;
    flex-direction: row;
}

.self .bubble-info-wrapper {
    position: relative;
    width: 311px;
    height: 53px;
    background: #CFFEE8;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 26px;
    border-top-left-radius: 26px;
    border-top-right-radius: 0px;
    margin-top: -3px;
    display: flex;
    flex-direction: row;
    float: right;
}

.bubble-info-section {
    height: 100%;
    padding: 3px 10px;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
}

.bubble-info-icon-wrapper {
    width: 40px;
    height: 40px;
}

.bubble-info-text {
    font-family: Asap;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    padding: 10px 0px;
}

.bubble-logo {
    margin-top: 30px;
    margin-left: 30px;
    width: 60px;
    height: 60px;
    grid-column: 1/1;
}

#jitsi {
    width: 100%;
    height: 100%;
    padding: 30px;
}

div {
    width: auto;
    height: auto;
    display: block;
}

body {
    margin: 0px;
}

svg {
    height: 100%;
    widtH: 100%;
}

#message-submit {
    height: 100%;
    width: 100%;
    flex: none;
    padding-top: 10px;
    display: block;
}

#message-input {
    color: #AAAAAA;
    float: right;
}

#message-submit-button {
    float: right;
    margin-right: 10px;
    margin-top: 1px;
}

input[type=text],
select {
    width: 520px;
    height: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type=submit] {
    width: 80px;
    height: 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #45a049;
}